.simpleNetwork .link {
  stroke: {{linkColour}};
  opacity: {{opacity}};
  stroke-width: 1.5px;
}

.simpleNetwork .node circle {
  stroke: #fff;
  opacity: {{opacity}};
  stroke-width: 1.5px;
}

.simpleNetwork  text {
  font: {{fontSize}}px serif;
  opacity: {{opacity}};
  pointer-events: none;
}
