#{{id}} .link {
  stroke: {{linkColour}};
  opacity: {{opacity}};
  stroke-width: 1.5px;
}

#{{id}} .node circle {
  stroke: #fff;
  opacity: {{opacity}};
  stroke-width: 1.5px;
}

#{{id}} text {
  font: {{fontSize}}px serif;
  opacity: {{opacity}};
  pointer-events: none;
}
