<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>networkD3</title>
    <meta name="networkD3Vignette" content="networkD3: Tools for creating D3 JavaScript network graphs from R">
    <LINK href="css/main.css" rel="stylesheet">
    <LINK href="css/images.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

<!--begin.rcode include=FALSE
opts_chunk$set(fig.align='center')
opts_chunk$set(dev='svg')
opts_chunk$set(tidy=FALSE)
opts_chunk$set(message=FALSE)
end.rcode-->

    <!----------------------------- Header ------------------------------>
    <div class="rect1"></div>
    <div class="topbar"><code>networkD3</code>:</div> <div class="topbarsub">Tools for creating D3 JavaScript network graphs from R</div>

    <div class="rect1"></div>
    <p class="pull-right">
        <strong>Fork me on <a href="https://github.com/christophergandrud/networkD3"><i class="fa fa-github fa-lg"></i></a></strong>
    </p>

    <p>
        v0.7
    </p>

    <p>
        <a href="http://christophergandrud.blogspot.com/">Christopher Gandrud</a> and <a href="https://github.com/jjallaire">JJ Allaire</a>
    </p>

    <p>
        23 August 2014
    </p>

    <!-- Banner image -->
    <div class="rect1"></div>
    <div class="circlel"></div>
    <div class="circlel"></div>
    <div class="circlel"></div>
    <div class="circlel"></div>
    <div class="circlel"></div>

    <div class="circler"></div>
    <div class="circler"></div>
    <div class="circler"></div>
    <div class="circler"></div>
    <div class="circler"></div>

    <br><br><br><br><br>

    <h2><i class="fa fa-thumb-tack"></i> About</h2>

    <p>
        This is a port of Christopher Gandrud's R package <a href="http://christophergandrud.github.io/d3Network/">d3Network</a> for creating <a href="http://d3js.org/">D3</a> network graphs to the <a href="https://github.com/ramnathv/htmlwidgets">htmlwidgets</a> framework. The htmlwidgets framework greatly simplifies the package's syntax for exporting the graphs and improves integration with <a href="http://www.rstudio.com/">RStudio's</a> viewer pane.
    </p>

    <p>
        It currently supports two types of network graphs:</p>
        <ul>
            <li>
                <strong>Force directed networks</strong> with <a href="#simple">simpleNetwork</a> and <a href="#force"><code>forceNetwork</code></a>
            </li>
            <li>
                <strong>Sankey diagrams</strong> with <a href="#sankey"><code>sankeyNetwork</code></a>
            </li>
        </ul>

    <h2><i class="fa fa-download"></i> Install</h2>

    <p>
        To install and use you'll need to install this package and two of it's dependencies from GitHub:
    </p>

<!--begin.rcode eval=FALSE
library(devtools)
install_github(c('rstudio/htmltools',
                'ramnathv/htmlwidgets',
                'christophergandrud/networkD3'))
end.rcode-->

    <h2><i class="fa fa-code"></i> Ussage</h2>

    <h3 id="simple"><code>> </code>simpleNetwork</code></h3>
    <p>
        For very basic <a href="http://en.wikipedia.org/wiki/Force-directed_graph_drawing">force directed network</a> graphics you can use <code>simpleNetwork</code>. For example:
    </p>

<!--begin.rcode results='asis'
# Load package
library(networkD3)

# Create fake data
src <- c("A", "A", "A", "A",
        "B", "B", "C", "C", "D")
target <- c("B", "C", "D", "J",
            "E", "F", "G", "H", "I")
networkData <- data.frame(src, target)

# Plot
simpleNetwork(networkData)
end.rcode-->

    <h3 id="force"><code>> forceNetwork</code></h3>

    <p>
        Use <code>forceNetwork</code> to have more control over the appearance of the forced directed network and to plot more complicated networks. Here is an example:
    </p>

<!--begin.rcode
# Load data
data(MisLinks)
data(MisNodes)

# Plot
forceNetwork(Links = MisLinks, Nodes = MisNodes,
            Source = "source", Target = "target",
            Value = "value", NodeID = "name",
            Group = "group", opacity = 0.4,
            colourScale = "d3.scale.category20b()")
end.rcode-->


    <h3 id="sankey"><code>> sankeyNetwork</code></h3>

    <p>
        You can also create <a href="http://en.wikipedia.org/wiki/Sankey_diagram">Sankey diagrams</a> with <code>sankeyNetwork</code>. Here is an example using downloaded JSON data:
    </p>

<!--begin.rcode
# Load energy projection data
library(RCurl)
URL <- "https://raw.githubusercontent.com/christophergandrud/networkD3/master/JSONdata/energy.json"
Energy <- getURL(URL, ssl.verifypeer = FALSE)

# Convert to data frame
EngLinks <- JSONtoDF(jsonStr = Energy,
                    array = "links")
EngNodes <- JSONtoDF(jsonStr = Energy,
                    array = "nodes")

# Plot
sankeyNetwork(Links = EngLinks, Nodes = EngNodes,
            Source = "source", Target = "target",
            Value = "value", NodeID = "name",
            fontsize = 12, nodeWidth = 30)
end.rcode-->


    <h2><i class="fa fa-floppy-o"></i> Output</h2>

    <h3>Saving to an external file</h3>

    <p>
        Use <code>saveNetwork</code> to save a network to a stand alone HTML file:
    </p>

<!--begin.rcode eval=FALSE
library(magrittr)

simpleNetwork(networkData) %>%
saveNetwork(file = 'Net1.html')
end.rcode-->

<!----------------------------- Footer ------------------------------>
<footer>
<hr>

    <a href="http://nadrosia.tumblr.com/post/53520500877/made-in-berlin-badge-update"><img alt="BerlinBadge" src="http://media.tumblr.com/023c285c14ef01953d3b67ffe789004d/tumblr_inline_mor1uu2OOZ1qz4rgp.png" width = "100" align = "right"></a>

    <p><a href="https://github.com/christophergandrud">Christopher Gandrud <i class="fa fa-github fa-lg"></i></a> <a href="https://twitter.com/ChrisGandrud"><i class="fa fa-twitter"></i></a></p>

    <p><strong><code>networkD3</code></strong> is covered under the <a href="https://www.gnu.org/licenses/quick-guide-gplv3.html">GPL-3 license</a>.</p>

    <p>This site is covered under a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC By-NC-SA 4.0 License</a>.</p>

</footer>
</body>
<!----------------------------- Scripts ----------------------------->

</html>
