.d3SimpleNetwork .link {
  stroke: #666;
  opacity: 0.6;
  stroke-width: 1.5px;
}

.d3SimpleNetwork  .node circle {
  stroke: #fff;
  opacity: 0.6;
  stroke-width: 1.5px;
}

.d3SimpleNetwork  text {
  font: 15px serif;
  opacity: 0.6;
  pointer-events: none;
}
