.d3SimpleNetwork .link {
  stroke: {{linkColour}};
  opacity: {{opacity}};
  stroke-width: 1.5px;
}

.d3SimpleNetwork  .node circle {
  stroke: #fff;
  opacity: {{opacity}};
  stroke-width: 1.5px;
}

.d3SimpleNetwork  text {
  font: {{fontSize}}px serif;
  opacity: {{opacity}};
  pointer-events: none;
}
